<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
</head>
<body>
    <h1>Đăng nhập</h1>
    {{if .Error}}
        <p style="color: red;">{{.Error}}</p>
    {{end}}
    <form method="post" action="/login">
        <label>Tên đăng nhập:</label><br>
        <input type="text" name="username"><br><br>
        <label>Mật khẩu:</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Đăng nhập">
    </form>
    <p>Chưa có tài khoản? <a href="/register">Đăng ký</a></p>
</body>
</html>
