<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>ĐĂNG NHẬP</h2>
    <form action="/login" method="POST">
        <label for="username">Tài khoản:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Đăng nhập</button>
    </form>
    <a href="/register">Đăng Ký Tại Đây</a>
</body>
</html>
