<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h2>ĐĂNG KÝ TÀI KHOẢN</h2>
    <form action="/register" method="POST">
        <label for="username">Tài Khoản:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Mật Khẩu:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">Đăng Ký</button>
    </form>
    <a href="/login">Đăng Nhập Tại Đây</a>
</body>
</html>
